[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"black" = "==22.3.0"
"flake8" = "*"
"ipdb" = "*"
"ipython" = "*"
"pytest" = "==7.1.*"
"pytest-cov" = "*"
"pytest-black" = "0.3.12"
"pytest-flakes" = "*"
"pytest-mock" = "*"

[packages]
# === This package ===
# Should always be installed like this, else setup.py is bypassed (and we would
# have to modify PYTHONPATH at several points in the project)
# We install python-gdal via gdal-bin
"pdok-geopackage-validator" = {path = ".", editable = true}
"Click" = "==8.*"
"click-log" = "==0.3.*"
"gdal" = "==3.5.0"
"minio" = "*"
"deepdiff" = "*"
"pyyaml" = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = false
